# Ignore node_modules
node_modules/

# Ignore environment variables
.env

# Ignore build folders
dist/
build/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore dependency files
package-lock.json
yarn.lock

# Ignore logs
*.log